<h1>List of Employees</h1>

<div class="employee-container" *ngIf="employees.length > 0; else noEmployees">
  <div class="employee-card" *ngFor="let emp of employees">
    <h2>{{ emp.employee_name }}</h2>
    <p><strong>Designation:</strong> {{ emp.designation }}</p>
    <p><strong>Email:</strong> {{ emp.email }}</p>
    <p><strong>Gender:</strong> {{ emp.gender }}</p>
    <p><strong>Phone:</strong> {{ emp.phone_number }}</p>
    <p><strong>Department ID:</strong> {{ emp.department_id }}</p>
  </div>
</div>

<ng-template #noEmployees>
  <p>No employees found.</p>
</ng-template>
