<div class="container">
  <div class="employee-list">
    <h2>Employees</h2>

    <ul>
      <li *ngFor="let emp of employees" (click)="selectEmployee(emp)">
        <strong>{{ emp.employee_name }}</strong>
        <br />
        <span class="designation">{{ emp.designation }}</span>
      </li>
    </ul>
  </div>

  <div class="employee-details" [class.show]="selectedEmployee">
    <ng-container *ngIf="selectedEmployee">
      <h2>{{ selectedEmployee.employee_name }}</h2>
      <p><strong>Designation:</strong> {{ selectedEmployee.designation }}</p>
      <p><strong>Email:</strong> {{ selectedEmployee.email }}</p>
      <p><strong>Gender:</strong> {{ selectedEmployee.gender }}</p>
      <p><strong>Phone:</strong> {{ selectedEmployee.phone_number }}</p>
      <p><strong>Department:</strong> {{ selectedEmployee.department_id }}</p>
    </ng-container>
  </div>
</div>
